* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #eee;
    font-size: 16px;
    font-family: sans-serif;
}
.flexone {
    flex: 1;
}
.groups {
    margin: 0 auto;
    width: 780px;
    height: auto;
    padding: 10px;
}
.groups li {
    position: relative;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 0.3s;
}
.groups li:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 14px 0 #0005;
}
.groups .card {
    overflow: hidden;
    display: block;
}
.groups .image-session {
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.groups .image-session .image {
    width: 280px;
    height: 220px;
    display: block;
    background-size: cover !important;
    background-position: center !important;
}
.groups .meta-session {
    position: relative;
    padding: 15px;
    display: block;
    height: 220px;
}
.groups .meta-session .head {
    display: flex;
    margin-bottom: 10px;
}
.groups .meta-session .head .category {
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #0075ff;
}
.meta-session .head .per span,
.meta-session .head .per input {
    display: block;
    font-size: 10px;
    text-align: right;
}
.meta-session .head .per input {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #0001;
    margin-bottom: 4px;
    overflow: hidden;
}
.meta-session .head .per input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #0075ff;
}
.groups .body .title {
    height: 60px;
    overflow: hidden;
    font-size: 24px;
}
.groups .body .desc {
    height: 45px;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 10px;
}
.groups .footer .button {
    position: absolute;
    right: 25px;
    bottom: 20px;
    background: #0075ff;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    line-height: 2.2;
    padding: 0 20px;
    box-shadow: 0 1px 6px 0 #0004;
    transition: all 0.3s;
}
.groups .footer .button:hover {
    box-shadow: 0 3px 8px 0 #0005;
    right: 15px;
    background: #063a78;
}
.groups .footer .views {
    display: block;
    font-size: 12px;
    margin-top: 40px;
}
@media screen and (max-width:780px) {
    .groups {
        width:96%;
    }
    .groups li:hover {
        transform: none;
        box-shadow: 0 3px 4px 0 #0001;
    }
}
@media screen and (max-width:560px) {
    .groups .image-session {
        float: none;
        margin-right: 0;
    }
    .groups .image-session .image {
        width: 100%;
    }
}